<p>You received this message because someone (hopefully, yourself) has
requested to receive a detailed notification report from the ESP Vaers
(http://www.esphealth.org) and used this email address as the
communication channel.</p>

<p>The message below is an example of a adverse reaction notification
that is sent by ESP Vaers. All information contained below is
fictitious and was created for demonstration purposes. In a real-world
scenario, only the Clinician that is the Primary Care Provider would
receive this notification.</p>

<p>The message below should contain a link to the ESP website, where the
PCP should authenticate to be able to see the patient's
information. For fake data, you may go ahead by confirming that you
are the PCP in question.</p>
<hr>



