* text=auto !eol
/CREDITS -text
/LICENSE -text
/README -text
analysis/dm_esp.schema.xml -text
analysis/pat.hibernate.pg.sql -text
bin/esp -text
doc/ESP-architecture.xmind -text svneol=unset#unset
doc/LGPL-3.0.txt -text
doc/README.docs.txt -text
doc/disease-protocols/Chlamydia.doc -text
doc/disease-protocols/Combined_Hepatitis_B.doc -text
doc/disease-protocols/Gonorrhea.doc -text
doc/disease-protocols/Hepatitis_A.doc -text
doc/specifications/EpicCare_ETL_file_spec.doc -text
doc/specifications/MDPH_ELR_EMR_Query_Specification_v1.0.doc -text
doc/specifications/PHIN_ELR_Implementation_Guide--HL7_2.3.1--21_May_2004.pdf -text svneol=unset#unset
doc/specifications/gipse.xsd -text
doc/specifications/reduced-gipse.xsd -text
etc/templates/case_report/odh_hl7.txt -text
share/apache.conf.sample -text
share/django.wsgi.sample -text
share/epic_etl/AdditionalStepsAfterCompile.doc -text svneol=unset#unset
share/epic_etl/ESPFileLayout.doc -text svneol=unset#unset
share/epic_etl/README.txt -text
share/epic_etl/mhslespftp.sh -text
share/esp-postgres.logrotate -text
src/ESP/application.spec.ini -text
src/ESP/axis-1_4/activation.jar -text
src/ESP/axis-1_4/mail.jar -text
src/ESP/batch-run.sh -text
src/ESP/conf/__init__.py -text
src/ESP/conf/admin.py -text
src/ESP/conf/choices.py -text
src/ESP/conf/common.py -text
src/ESP/conf/context_processors.py -text
src/ESP/conf/fixtures/conf-test-native-codes.json -text
src/ESP/conf/fixtures/icd9.json -text
src/ESP/conf/fixtures/immunization_manufacturers.json -text
src/ESP/conf/fixtures/native_manufacturers.sql -text
src/ESP/conf/fixtures/native_vaccines.sql -text
src/ESP/conf/fixtures/vaccines.json -text
src/ESP/conf/fixtures/vaccines.sql -text
src/ESP/conf/forms.py -text
src/ESP/conf/models.py -text
src/ESP/conf/tests.py -text
src/ESP/conf/urls.py -text
src/ESP/conf/views.py -text
src/ESP/data/atrius-map.csv -text
src/ESP/data/diseases.txt -text
src/ESP/data/icd9.txt -text
src/ESP/data/loinc_additions.txt -text
src/ESP/data/loincdb.txt -text
src/ESP/data/ndc_codes.txt -text
src/ESP/data/source_systems.txt -text
src/ESP/emr/__init__.py -text
src/ESP/emr/admin.py -text
src/ESP/emr/choices.py -text
src/ESP/emr/data_flow_summary.py -text
src/ESP/emr/fake.py -text
src/ESP/emr/fixtures/demo.json -text
src/ESP/emr/fixtures/initial_data.json -text
src/ESP/emr/management/__init__.py -text
src/ESP/emr/management/commands/__init__.py -text
src/ESP/emr/management/commands/cleanup.py -text
src/ESP/emr/management/commands/common.py -text
src/ESP/emr/management/commands/concordance.py -text
src/ESP/emr/management/commands/download_ftp.py -text
src/ESP/emr/management/commands/float_checker.py -text
src/ESP/emr/management/commands/load_epic.py -text
src/ESP/emr/management/commands/load_hl7.py -text
src/ESP/emr/management/commands/make_fakes.py -text
src/ESP/emr/management/commands/rename_files.py -text
src/ESP/emr/models.py -text
src/ESP/emr/report.py -text
src/ESP/emr/sql/multicolumn-indices.postgresql.sql -text
src/ESP/emr/sql/patient.postgresql.sql -text
src/ESP/emr/views.py -text
src/ESP/env-setup.sh -text
src/ESP/hef/__init__.py -text
src/ESP/hef/admin.py -text
src/ESP/hef/core.py -text
src/ESP/hef/events.py -text
src/ESP/hef/management/__init__.py -text
src/ESP/hef/management/commands/__init__.py -text
src/ESP/hef/management/commands/hef.py -text
src/ESP/hef/models.py -text
src/ESP/hef/sql/multicolumn-indices.postgresql.sql -text
src/ESP/hef/tests.py -text
src/ESP/hef/views.py -text
src/ESP/media/css/base.css -text
src/ESP/media/css/changelists.css -text
src/ESP/media/css/global.css -text
src/ESP/media/css/jqModal.css -text
src/ESP/media/css/old-global.css -text
src/ESP/media/css/vaers.css -text
src/ESP/media/images/all_seeing_eye.png -text svneol=unset#unset
src/ESP/media/images/arrow.gif -text
src/ESP/media/images/caduceus.gif -text svneol=unset#unset
src/ESP/media/images/default-bg-reverse.gif -text
src/ESP/media/images/default-bg.gif -text
src/ESP/media/images/django-logo-negative.png -text
src/ESP/media/images/django-logo-positive.png -text
src/ESP/media/images/espheader.gif -text
src/ESP/media/images/espheader.png -text
src/ESP/media/images/espheader150.gif -text
src/ESP/media/images/espheader2.png -text
src/ESP/media/images/esplogo.gif -text
src/ESP/media/images/nav-bg-grabber.gif -text
src/ESP/media/images/nav-bg-reverse.gif -text
src/ESP/media/images/nav-bg.gif -text
src/ESP/media/js/flexigrid/accept.png -text
src/ESP/media/js/flexigrid/coffee.png -text
src/ESP/media/js/flexigrid/css/flexigrid/flexigrid.css -text
src/ESP/media/js/flexigrid/css/flexigrid/images/bg.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/btn-sprite.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/ddn.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/dn.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/fhbg.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/first.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/hl.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/last.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/line.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/load.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/load.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/magnifier.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/next.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/prev.gif -text
src/ESP/media/js/flexigrid/css/flexigrid/images/up.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/uup.png -text
src/ESP/media/js/flexigrid/css/flexigrid/images/wbg.gif -text
src/ESP/media/js/flexigrid/css/images/add.png -text
src/ESP/media/js/flexigrid/css/images/close.png -text
src/ESP/media/js/flexigrid/css/images/edit.gif -text
src/ESP/media/js/flexigrid/flash.png -text
src/ESP/media/js/flexigrid/flexigrid.js -text
src/ESP/media/js/flexigrid/flexigrid.pack.js -text
src/ESP/media/js/flexigrid/index.html -text
src/ESP/media/js/flexigrid/lib/jquery/jquery.js -text
src/ESP/media/js/flexigrid/post.php -text
src/ESP/media/js/flexigrid/post2.php -text
src/ESP/media/js/flexigrid/sample1.html -text
src/ESP/media/js/flexigrid/style.css -text
src/ESP/media/js/jdMenu-1.4.1/ChangeLog.txt -text
src/ESP/media/js/jdMenu-1.4.1/jdMenu.html -text
src/ESP/media/js/jdMenu-1.4.1/jquery.bgiframe.js -text
src/ESP/media/js/jdMenu-1.4.1/jquery.dimensions.js -text
src/ESP/media/js/jdMenu-1.4.1/jquery.jdMenu.css -text
src/ESP/media/js/jdMenu-1.4.1/jquery.jdMenu.js -text
src/ESP/media/js/jdMenu-1.4.1/jquery.js -text
src/ESP/media/js/jdMenu-1.4.1/jquery.positionBy.js -text
src/ESP/media/js/jqModal.js -text
src/ESP/media/js/jquery-1.3.1.js -text
src/ESP/media/js/jquery-1.3.2.min.js -text
src/ESP/media/js/jquery.livequery.js -text
src/ESP/media/js/syndrome_map.js -text
src/ESP/media/js/vaers.js -text
src/ESP/nodis/__init__.py -text
src/ESP/nodis/admin.py -text
src/ESP/nodis/defs.py -text
src/ESP/nodis/forms.py -text
src/ESP/nodis/gdm/README.txt -text
src/ESP/nodis/gdm/gdm-combined.sql -text
src/ESP/nodis/gdm/gdm-core.py -text
src/ESP/nodis/gdm/gdm_icd9_lancets_test_strips.sql -text
src/ESP/nodis/gdm/glucose-fasting-intrapartum.sql -text
src/ESP/nodis/gdm/ogtt100-intrapartum.sql -text
src/ESP/nodis/gdm/ogtt100.sql -text
src/ESP/nodis/gdm/ogtt50-intrapartum.sql -text
src/ESP/nodis/gdm/ogtt75-intrapartum.sql -text
src/ESP/nodis/gdm/ogtt75-postpartum.sql -text
src/ESP/nodis/gdm/pregnancy-analysis.sql -text
src/ESP/nodis/gdm/pregnancy-report.2010-04-06.sql -text
src/ESP/nodis/management/__init__.py -text
src/ESP/nodis/management/commands/__init__.py -text
src/ESP/nodis/management/commands/case_report.py -text
src/ESP/nodis/management/commands/gdm_report.py -text
src/ESP/nodis/management/commands/nodis.py -text
src/ESP/nodis/management/commands/patient_report.py -text
src/ESP/nodis/management/commands/validate_cases.py -text
src/ESP/nodis/models.py -text
src/ESP/nodis/tests.py -text
src/ESP/secrets.spec.ini -text
src/ESP/sendMsgs/bcdc.jar -text
src/ESP/settings.py -text
src/ESP/ss/__init__.py -text
src/ESP/ss/definitions.py -text
src/ESP/ss/heuristics.py -text
src/ESP/ss/hsph.py -text
src/ESP/ss/legacy.py -text
src/ESP/ss/main.py -text
src/ESP/ss/mapping.py -text
src/ESP/ss/models.py -text
src/ESP/ss/reports.py -text
src/ESP/ss/run.py -text
src/ESP/ss/satscan.py -text
src/ESP/ss/templates/xml/gipse-metadata.xml -text
src/ESP/ss/templates/xml/gipse-response.xml -text
src/ESP/ss/tests.py -text
src/ESP/ss/urls.py -text
src/ESP/ss/utils.py -text
src/ESP/ss/views.py -text
src/ESP/static/__init__.py -text
src/ESP/static/admin.py -text
src/ESP/static/fixtures/initial_data.json -text
src/ESP/static/models.py -text
src/ESP/static/sql/indices.postgresql.sql -text
src/ESP/static/tests.py -text
src/ESP/static/views.py -text
src/ESP/templates/404.html -text
src/ESP/templates/500.html -text
src/ESP/templates/about.html -text
src/ESP/templates/admin/base_site.html -text
src/ESP/templates/admin/index.html -text
src/ESP/templates/admin/login.html -text
src/ESP/templates/arrow.GIF -text
src/ESP/templates/base.html -text
src/ESP/templates/conf/code_maintenance.html -text
src/ESP/templates/conf/code_map.html -text
src/ESP/templates/conf/confirm_ignore_code.html -text
src/ESP/templates/conf/heuristic_mapping_report.html -text
src/ESP/templates/conf/loinc_mapping.html -text
src/ESP/templates/default-bg-reverse.gif -text
src/ESP/templates/default-bg.gif -text
src/ESP/templates/django-logo-negative.png -text
src/ESP/templates/django-logo-positive.png -text
src/ESP/templates/email_messages/notify_case.txt -text
src/ESP/templates/email_messages/notify_category_three.html -text
src/ESP/templates/email_messages/notify_category_three.txt -text
src/ESP/templates/email_messages/notify_category_two.html -text
src/ESP/templates/email_messages/notify_category_two.txt -text
src/ESP/templates/email_messages/notify_demo.html -text
src/ESP/templates/email_messages/notify_demo.txt -text
src/ESP/templates/esp/case_define.html -text
src/ESP/templates/esp/case_define_detail.html -text
src/ESP/templates/esp/case_detail.html -text
src/ESP/templates/esp/case_grid.html -text
src/ESP/templates/esp/case_list.html -text
src/ESP/templates/esp/edit_ext_loinc_map.html -text
src/ESP/templates/esp/matchupload.html -text
src/ESP/templates/esp/rule_excludlist.html -text
src/ESP/templates/esp/show_ext_loinc_maps.html -text
src/ESP/templates/espheader.gif -text
src/ESP/templates/espheader.png -text
src/ESP/templates/espheader150.gif -text
src/ESP/templates/espheader2.png -text
src/ESP/templates/esplogo.gif -text
src/ESP/templates/fixture_builders/adverse_event.json -text
src/ESP/templates/login.html -text
src/ESP/templates/nav-bg-grabber.gif -text
src/ESP/templates/nav-bg-reverse.gif -text
src/ESP/templates/nav-bg.gif -text
src/ESP/templates/nodis/all_records.html -text
src/ESP/templates/nodis/case_detail.html -text
src/ESP/templates/nodis/case_list.html -text
src/ESP/templates/nodis/missing_case_detail.html -text
src/ESP/templates/nodis/provider_detail.html -text
src/ESP/templates/nodis/validator_exact.html -text
src/ESP/templates/nodis/validator_missing.html -text
src/ESP/templates/nodis/validator_new.html -text
src/ESP/templates/nodis/validator_similar.html -text
src/ESP/templates/nodis/validator_summary.html -text
src/ESP/templates/pages/ss/home.html -text
src/ESP/templates/pages/vaers/collect_feedback.html -text
src/ESP/templates/pages/vaers/detect.html -text
src/ESP/templates/pages/vaers/home.html -text
src/ESP/templates/pages/vaers/identify.html -text
src/ESP/templates/pages/vaers/manufacturers.html -text
src/ESP/templates/pages/vaers/map_manufacturer.html -text
src/ESP/templates/pages/vaers/map_vaccine.html -text
src/ESP/templates/pages/vaers/notify.html -text
src/ESP/templates/pages/vaers/present.html -text
src/ESP/templates/pages/vaers/report.html -text
src/ESP/templates/pages/vaers/vaccine_index.html -text
src/ESP/templates/pages/vaers/vaccines.html -text
src/ESP/templates/pages/vaers/vaers.html -text
src/ESP/templates/ss/files/boston.geo -text
src/ESP/templates/ss/files/satscan.conf -text
src/ESP/templates/ui/case_list.html -text
src/ESP/templates/ui/labtest_detail.html -text
src/ESP/templates/ui/labtest_lookup.html -text
src/ESP/templates/ui/map_native_code.html -text
src/ESP/templates/ui/status.html -text
src/ESP/templates/ui/status.txt -text
src/ESP/templates/ui/unmapped_labs.html -text
src/ESP/templates/widgets/fixture_builder.json -text
src/ESP/templates/widgets/ss/day_map_report.html -text
src/ESP/templates/widgets/vaers/case_grid.html -text
src/ESP/templates/widgets/vaers/case_grid.json -text
src/ESP/templates/widgets/vaers/case_table.html -text
src/ESP/templates/widgets/vaers/feedback_form.html -text
src/ESP/ui/__init__.py -text
src/ESP/ui/management/__init__.py -text
src/ESP/ui/management/commands/__init__.py -text
src/ESP/ui/management/commands/batch.py -text
src/ESP/ui/management/commands/status_report.py -text
src/ESP/ui/tests.py -text
src/ESP/ui/urls.py -text
src/ESP/ui/views.py -text
src/ESP/urls.py -text
src/ESP/utils/bogus_events_cleanup.py -text
src/ESP/utils/common.py -text
src/ESP/utils/couch.py -text
src/ESP/utils/fake_world.py -text
src/ESP/utils/randomizer.py -text
src/ESP/utils/status_report.py -text
src/ESP/utils/utils.py -text
src/ESP/utils/vaers_hl7.py -text
src/ESP/vaers/VAERSevents.py -text
src/ESP/vaers/__init__.py -text
src/ESP/vaers/admin.py -text
src/ESP/vaers/fake.py -text
src/ESP/vaers/fixtures/encounters.sql -text
src/ESP/vaers/fixtures/immunizations.sql -text
src/ESP/vaers/fixtures/initial_data.json -text
src/ESP/vaers/fixtures/lab_results.sql -text
src/ESP/vaers/forms.py -text
src/ESP/vaers/heuristics.py -text
src/ESP/vaers/hl7_report.py -text
src/ESP/vaers/main.py -text
src/ESP/vaers/models.py -text
src/ESP/vaers/reports.py -text
src/ESP/vaers/rules.py -text
src/ESP/vaers/settings.py -text
src/ESP/vaers/summary.py -text
src/ESP/vaers/tests.py -text
src/ESP/vaers/urls.py -text
src/ESP/vaers/utils.py -text
src/ESP/vaers/vaccine/__init__.py -text
src/ESP/vaers/vaccine/forms.py -text
src/ESP/vaers/vaccine/urls.py -text
src/ESP/vaers/vaccine/views.py -text
src/ESP/vaers/views.py -text
src/ESP/version.txt -text
src/configobj.py -text
src/djangosphinx/__init__.py -text
src/djangosphinx/admin.py -text
src/djangosphinx/apis/__init__.py -text
src/djangosphinx/apis/api263/__init__.py -text
src/djangosphinx/apis/api263/templates/index-multiple.conf -text
src/djangosphinx/apis/api263/templates/index.conf -text
src/djangosphinx/apis/api263/templates/source-multiple.conf -text
src/djangosphinx/apis/api263/templates/source.conf -text
src/djangosphinx/apis/api275/__init__.py -text
src/djangosphinx/apis/api278/__init__.py -text
src/djangosphinx/apis/current.py -text
src/djangosphinx/config.py -text
src/djangosphinx/constants.py -text
src/djangosphinx/management/__init__.py -text
src/djangosphinx/management/commands/__init__.py -text
src/djangosphinx/management/commands/generate_sphinx_config.py -text
src/djangosphinx/manager.py -text
src/djangosphinx/models.py -text
src/djangosphinx/templates/index-multiple.conf -text
src/djangosphinx/templates/index.conf -text
src/djangosphinx/templates/source-multiple.conf -text
src/djangosphinx/templates/source.conf -text
src/djangosphinx/templates/sphinx.conf -text
src/djangosphinx/utils/__init__.py -text
src/djangosphinx/utils/config.py -text
src/guppy/__init__.py -text
src/guppy/doc/ProfileBrowser.html -text
src/guppy/doc/__init__.py -text
src/guppy/doc/docexample.html -text
src/guppy/doc/docexample.py -text
src/guppy/doc/gsl.html -text
src/guppy/doc/gslexample.html -text
src/guppy/doc/guppy.html -text
src/guppy/doc/heapy_RootState.html -text
src/guppy/doc/heapy_UniSet.html -text
src/guppy/doc/heapy_Use.html -text
src/guppy/doc/heapy_tutorial.html -text
src/guppy/doc/heapyc.html -text
src/guppy/doc/index.html -text
src/guppy/doc/pbscreen.jpg -text svneol=unset#unset
src/guppy/doc/sets.html -text
src/guppy/doc/test_guppy.py -text
src/guppy/doc/test_heapy.py -text
src/guppy/doc/test_heapyc.py -text
src/guppy/etc/Cat.py -text
src/guppy/etc/Code.py -text
src/guppy/etc/Compat.py -text
src/guppy/etc/ExecfileWithModuleInfo.py -text
src/guppy/etc/FSA.py -text
src/guppy/etc/Glue.py -text
src/guppy/etc/Help.py -text
src/guppy/etc/IterPermute.py -text
src/guppy/etc/KanExtension.py -text
src/guppy/etc/KnuthBendix.py -text
src/guppy/etc/OutputHandling.py -text
src/guppy/etc/RE.py -text
src/guppy/etc/RE_Rect.py -text
src/guppy/etc/Unpack.py -text
src/guppy/etc/__init__.py -text
src/guppy/etc/cmd.py -text
src/guppy/etc/etc.py -text
src/guppy/etc/textView.py -text
src/guppy/etc/tkcursors.py -text
src/guppy/etc/xterm.py -text
src/guppy/gsl/Document.py -text
src/guppy/gsl/DottedTree.py -text
src/guppy/gsl/Exceptions.py -text
src/guppy/gsl/FileIO.py -text
src/guppy/gsl/Filer.py -text
src/guppy/gsl/Gsml.py -text
src/guppy/gsl/Help.py -text
src/guppy/gsl/Html.py -text
src/guppy/gsl/Latex.py -text
src/guppy/gsl/Main.py -text
src/guppy/gsl/SpecNodes.py -text
src/guppy/gsl/Tester.py -text
src/guppy/gsl/Text.py -text
src/guppy/gsl/XHTML.py -text
src/guppy/gsl/__init__.py -text
src/guppy/heapy/AbstractAlgebra.py -text
src/guppy/heapy/Classifiers.py -text
src/guppy/heapy/Console.py -text
src/guppy/heapy/Doc.py -text
src/guppy/heapy/ImpSet.py -text
src/guppy/heapy/Monitor.py -text
src/guppy/heapy/OutputHandling.py -text
src/guppy/heapy/Part.py -text
src/guppy/heapy/Path.py -text
src/guppy/heapy/Prof.py -text
src/guppy/heapy/RM.py -text
src/guppy/heapy/RefPat.py -text
src/guppy/heapy/Remote.py -text
src/guppy/heapy/RemoteConstants.py -text
src/guppy/heapy/Spec.py -text
src/guppy/heapy/Target.py -text
src/guppy/heapy/UniSet.py -text
src/guppy/heapy/Use.py -text
src/guppy/heapy/View.py -text
src/guppy/heapy/__init__.py -text
src/guppy/heapy/heapyc.so -text svneol=unset#unset
src/guppy/heapy/pbhelp.py -text
src/guppy/heapy/test/__init__.py -text
src/guppy/heapy/test/support.py -text
src/guppy/heapy/test/test_Classifiers.py -text
src/guppy/heapy/test/test_ER.py -text
src/guppy/heapy/test/test_OutputHandling.py -text
src/guppy/heapy/test/test_Part.py -text
src/guppy/heapy/test/test_Path.py -text
src/guppy/heapy/test/test_RefPat.py -text
src/guppy/heapy/test/test_RetaGraph.py -text
src/guppy/heapy/test/test_Spec.py -text
src/guppy/heapy/test/test_UniSet.py -text
src/guppy/heapy/test/test_View.py -text
src/guppy/heapy/test/test_all.py -text
src/guppy/heapy/test/test_dependencies.py -text
src/guppy/heapy/test/test_heapyc.py -text
src/guppy/heapy/test/test_menuleak.py -text
src/guppy/heapy/test/test_sf.py -text
src/guppy/sets/__init__.py -text
src/guppy/sets/setsc.so -text svneol=unset#unset
src/guppy/sets/test.py -text
src/hl7/__init__.py -text
src/hl7/core.py -text
src/hl7/hl7.py -text
src/hl7/messages.py -text
src/hl7/nodes.py -text
src/hl7/segments.py -text
src/hl7/test.py -text
src/scripts/daily_batch.sh -text
src/scripts/post_batch_run.sh -text
src/sqlparse/__init__.py -text
src/sqlparse/engine/__init__.py -text
src/sqlparse/engine/filter.py -text
src/sqlparse/engine/grouping.py -text
src/sqlparse/filters.py -text
src/sqlparse/formatter.py -text
src/sqlparse/keywords.py -text
src/sqlparse/lexer.py -text
src/sqlparse/sql.py -text
src/sqlparse/tokens.py -text
src/validate.py -text
src/web/__init__.py -text
src/web/application.py -text
src/web/browser.py -text
src/web/contrib/__init__.py -text
src/web/contrib/template.py -text
src/web/db.py -text
src/web/debugerror.py -text
src/web/form.py -text
src/web/http.py -text
src/web/httpserver.py -text
src/web/net.py -text
src/web/session.py -text
src/web/template.py -text
src/web/test.py -text
src/web/utils.py -text
src/web/webapi.py -text
src/web/webopenid.py -text
src/web/wsgi.py -text
src/web/wsgiserver/LICENSE.txt -text
src/web/wsgiserver/__init__.py -text
