* text=auto !eol
NORTH_ADAMS/NorthAdamsLocal-LOINCmapMay2008.redacted.xls -text
NORTH_ADAMS/NorthAdamsLocal-LOINCmapMay2008.xls -text
NORTH_ADAMS/loinc-code-map.transformation.ktr -text
axis-1_4/activation.jar -text
axis-1_4/mail.jar -text
docs/ELR[!!-~]EMR[!!-~]Query[!!-~]Specification[!!-~]v1.0.doc -text
docs/ESPSpecificationsAug3_2006.doc -text
docs/FINAL[!!-~]ELR[!!-~]231[!!-~]Implementation[!!-~]Guide_052104.pdf -text svneol=unset#unset
/readme -text
src/ESP/esp/admin.py -text
src/ESP/localsettings.py -text
src/ESP/management.py -text
src/ESP/sendMsgs/bcdc.jar -text
src/ESP/sendMsgs/org/openuri/www/Bcdc_elr.class -text
src/ESP/sendMsgs/org/openuri/www/Bcdc_elrLocator.class -text
src/ESP/sendMsgs/org/openuri/www/Bcdc_elrSoap.class -text
src/ESP/sendMsgs/org/openuri/www/Bcdc_elrSoapStub.class -text
src/ESP/templates/404.html -text
src/ESP/templates/admin/login.html -text
src/ESP/templates/arrow.GIF -text
src/ESP/templates/default-bg-reverse.gif -text
src/ESP/templates/default-bg.gif -text
src/ESP/templates/django-logo-negative.png -text
src/ESP/templates/django-logo-positive.png -text
src/ESP/templates/esp/casedefine.html -text
src/ESP/templates/esp/casedefine_detail.html -text
src/ESP/templates/esp/matchupload.html -text
src/ESP/templates/esp/rule_excludlist.html -text
src/ESP/templates/espheader.gif -text
src/ESP/templates/espheader.png -text
src/ESP/templates/espheader150.gif -text
src/ESP/templates/espheader2.png -text
src/ESP/templates/esplogo.gif -text
src/ESP/templates/nav-bg-grabber.gif -text
src/ESP/templates/nav-bg-reverse.gif -text
src/ESP/templates/nav-bg.gif -text
src/ESP/utils/LOINCDB.TXT -text
src/ESP/utils/hl7_to_etl.py -text
src/ESP/utils/makeESPdm.py -text
src/ESP/utils/northadams.py -text
src/ESP/utils/parsehl7.py -text
src/ESP/utils/utils.py -text
src/ESP/utils/vaers_hl7.py -text
