/*.pyc
axis-1_4/*.pyc
axis-1_4/settings.py
axis-1_4/~*
docs/*.pyc
docs/settings.py
docs/~*
prototype/*.pyc
prototype/preLoaderData/*.pyc
prototype/preLoaderData/settings.py
prototype/preLoaderData/~*
prototype/settings.py
prototype/~*
/settings.py
src/ESP/*.pyc
src/ESP/esp/*.pyc
src/ESP/esp/settings.py
src/ESP/esp/templatetags/*.pyc
src/ESP/esp/templatetags/settings.py
src/ESP/esp/templatetags/~*
src/ESP/esp/~*
src/ESP/sendMsgs/*.pyc
src/ESP/sendMsgs/org/*.pyc
src/ESP/sendMsgs/org/openuri/*.pyc
src/ESP/sendMsgs/org/openuri/settings.py
src/ESP/sendMsgs/org/openuri/www/*.pyc
src/ESP/sendMsgs/org/openuri/www/settings.py
src/ESP/sendMsgs/org/openuri/www/~*
src/ESP/sendMsgs/org/openuri/~*
src/ESP/sendMsgs/org/settings.py
src/ESP/sendMsgs/org/~*
src/ESP/sendMsgs/settings.py
src/ESP/sendMsgs/~*
src/ESP/settings.py
src/ESP/templates/*.pyc
src/ESP/templates/admin/*.pyc
src/ESP/templates/admin/settings.py
src/ESP/templates/admin/~*
src/ESP/templates/css/*.pyc
src/ESP/templates/css/settings.py
src/ESP/templates/css/~*
src/ESP/templates/esp/*.pyc
src/ESP/templates/esp/settings.py
src/ESP/templates/esp/~*
src/ESP/templates/registration/*.pyc
src/ESP/templates/registration/settings.py
src/ESP/templates/registration/~*
src/ESP/templates/settings.py
src/ESP/templates/~*
src/ESP/tests/*.pyc
src/ESP/tests/settings.py
src/ESP/tests/~*
src/ESP/utils/*.pyc
src/ESP/utils/settings.py
src/ESP/utils/~*
src/ESP/vaers/*.pyc
src/ESP/vaers/settings.py
src/ESP/vaers/~*
src/ESP/~*
/~*
