/*.pyc
/*.pyo
/.project
/.pydevproject
modules/core/ESP/*.db
modules/core/ESP/*.pyc
modules/core/ESP/.ropeproject
modules/core/ESP/Atrius
modules/core/ESP/assets
modules/core/ESP/conf/*.pyc
modules/core/ESP/database_password.txt
modules/core/ESP/emr/*.pyc
modules/core/ESP/esp/*.pyc
modules/core/ESP/esp/templatetags/*.pyc
modules/core/ESP/ftp_password.txt
modules/core/ESP/hef/*.pyc
modules/core/ESP/localsettings.py
modules/core/ESP/messages
modules/core/ESP/nodis/*.pyc
modules/core/ESP/secret_key.txt
modules/core/ESP/ss/*.pyc
modules/core/ESP/ss/assets
modules/core/ESP/ss/assets/*
modules/core/ESP/static/*.pyc
modules/core/ESP/utils/*.pyc
modules/core/ESP/vaers/*.pyc
modules/core/ESP/vaers/assets
modules/core/ESP/vaers/fixtures/events/*.json
modules/core/ESP/vaers/fixtures/lab_results.sql
modules/core/ESP/vaers/vaccine/*.pyc
src/*.pyc
