{% extends "espbase.html" %}
{% load esplib %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="/js/flexigrid/css/flexigrid/flexigrid.css" />
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="/js/jquery-1.3.1.js"></script>
    <script type="text/javascript" src="/js/flexigrid/flexigrid.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#case_table').flexigrid({
                striped: true,
                height: 'auto',
                url: '{% url json_case_grid %}',
                dataType: 'json',
                {% if unrestricted_view %}
                colModel: [
                    {# TODO: Add PHI fields #}
                    {display: 'Case ID #', name: 'id', width: 50, sortable: true, align: 'center'},
                    {display: 'Condition', name: 'condition', width: 100, sortable: true, align: 'center'},
                    {display: 'Date Ordered', name: 'date_ordered', width: 100, sortable: true, align: 'center'},
                    {display: 'Provider Site', name: 'site', width: 200, sortable: true, align: 'center'},
                    {display: 'Workflow State', name: 'workflow', width: 100, sortable: true, align: 'center'},
                    {display: 'Last Updated', name: 'last_updated', width: 100, sortable: true, align: 'center'},
                    {display: 'Previously Notified Cases', name: 'prev_cases', width: 100, sortable: true, align: 'center'},
                    ],
                {% else %}
                colModel: [
                    {display: 'Case ID #', name: 'id', width: 50, sortable: true, align: 'center'},
                    {display: 'Condition', name: 'condition', width: 100, sortable: true, align: 'center'},
                    {display: 'Date Ordered', name: 'date_ordered', width: 100, sortable: true, align: 'center'},
                    {display: 'Provider Site', name: 'site', width: 200, sortable: true, align: 'center'},
                    {display: 'Workflow State', name: 'workflow', width: 100, sortable: true, align: 'center'},
                    {display: 'Last Updated', name: 'last_updated', width: 100, sortable: true, align: 'center'},
                    {display: 'Previously Notified Cases', name: 'prev_cases', width: 100, sortable: true, align: 'center'},
                    ],
                {% endif %}
                sortname: 'id',
                sortorder: 'asc',
                usepager: 'true',
                width: '100%',
                rpOptions: [10, 25, 50],
                rp: {{ default_rp }},
            });
        });
    </script>
{% endblock %}

{% block content %}


<table id="case_table">
</table>


{% endblock%}





{% comment %}
            $('#case_table').jqGrid({
                url: '/new/cases/grid/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Case ID #', 'Condition', 'Date Ordered', 'Provider Site', 'Workflow State', 'Last Updated', 'Previously Notified Cases'],
                colModel: [
                    {name: 'id', index: 'id', width: '1*'},
                    {name: 'condition', index: 'condition', width: '1*'},
                    {name: 'date', index: 'date', width: '1*'},
                    {name: 'provider', index: 'provider', width: '1*'},
                    {name: 'wfstate', index: 'wfstate', width: '1*'},
                    {name: 'lastupdate', index: 'lastupdate', width: '1*'},
                    {name: 'prev', index: 'prev', width: '1*'},
                ],
                pager: $('#pager'),
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: 'id',
                sortorder: 'desc',
                viewrecords: true,
                imgpath: '/css/gqGrid_themes/basic/images',
                caption: 'ESP Cases'
            });
{% endcomment %}


