<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <title>Electronic Support for Public Health</title>
    <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/css/base.css" />
    {% block extrastyle %}{% endblock %}
    {% block extrascript %}{% endblock %}
</head>
<body>



<table width="100%">
<tr ><td colspan="2" >
<img src="{{SITEROOT}}/images/espheader2.png" border="0"> 
</td></tr>
 
<tr >
<td width="90" >
    <div id="sidebar">
        {% block sidebar %}
        <p><p>

        <table cellpadding="1" border=2 bordercolor = white>
	    <tr class="{% cycle row2,row1 as rowcolors %}">
                 {% if not request.user or not request.user.is_authenticated %}<td>AnonymousUser</td></tr>
                  <tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/login/">ESP Login</a></td></tr>
                  <tr class="{% cycle rowcolors %}"><td><a href="mailto:ross.lazarus&#64;channing.harvard.edu">Request a new account</a></td></tr>
                  {% else %}
                      <td>Current user is {{request.user.get_full_name}}
                        <p><form action="{{SITEROOT}}/logout/" method="post">
                        <input type="Submit" value="Logout" /></form>
                        </td></tr>
                      <tr class="{% cycle rowcolors %}"><td> <a href="{{SITEROOT}}/pswdchange/">Change My Password</a></td></tr>
                       

             <tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/">ESP Home</a></td></tr>
             <tr class="{% cycle rowcolors %}"><td><a href="{% url cases_all %}">ALL Cases</a></td></tr>
             <tr class="{% cycle rowcolors %}"><td><a href="{% url cases_awaiting_review %}">Cases Awaiting Review</a></td></tr>
             <tr class="{% cycle rowcolors %}"><td><a href="{% url cases_under_review %}">Cases Under Review</a></td></tr>
             <tr class="{% cycle rowcolors %}"><td><a href="{% url cases_queued %}">Cases Queued</a></td></tr> 
             <tr class="{% cycle rowcolors %}"><td><a href="{% url cases_sent %}">Cases Sent</a></td></tr>
             <tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/cases/search/1/FP////">Cases: False Positive</a></td></tr>
	     <tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/cases/sent/">Case Report Archive</a></td></tr>

              {% if request.user.is_staff %}
                   <tr class="{% cycle rowcolors %}"><td><a href="{% url admin_util %}">Administration &amp; Utilities</a></td></tr> 
               {% endif %}
             <tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/help/">Help, documentation</a></td></tr>
	         {% endif %} 


        </table>
        {% endblock %}
    </div>
</td><td>
    <div id="content">
        {% block content %} content goes here - overide in your template please {% endblock %}
    </div>
    
</td>
<tr>
<td colspan=2>
     <div id="footer">
        {% block footer %}
<p>
&copy; 2006 Ross Lazarus (ross dot lazarus at gmail dot com) from whom source code licensed under the equitable 
protection of the <a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a> is freely available from the project 
<a href="http://esphealth.org"> web site and source code repository</a>

<br>
This <a href="http://python.org">Python</a> application relies on the <a href="http://www.djangoproject.com">
<img src="{{SITEROOT}}/images/django-logo-negative.png" alt='Django' width="60" height="30" border="0"></a> framework 
and the <a href="http://mysql.com">MySQL</a> RDBMS </p>
{% endblock %}
</div>

</td></tr>
</table>  

</body>
</html>
