{% extends "base.html" %}

{% block extrascript %}
    
    <script type="text/javascript" src="{{ site_javascript_folder }}dropdown-check-list.1.1/js/ui.dropdownchecklist-1.1-min.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{{ site_javascript_folder }}dropdown-check-list.1.1/css/ui.dropdownchecklist.standalone.css" />


    <script type="text/javascript">
        $(document).ready(function() {
            $.datepicker.setDefaults({
                changeMonth: true,
                changeYear: true,
            });
            $('#id_date_after').datepicker();
            $('#id_date_before').datepicker();
            $('#id_status').dropdownchecklist({ emptyText: "Select..." });
            $('#id_condition').dropdownchecklist({ emptyText: "Select..." });
            $('#id_provider_site').dropdownchecklist({ maxDropHeight: 350, emptyText: "Select..." });
        });
    </script>
{% endblock %}

{% block content %}

<div style="float: left;">
    <h2>Filter</h2>
    <form id="search_form" method="GET" action="{% url nodis_cases %}">
        <p>
            {{ search_form.as_p }}
        </p>
        <p>
            <input type="submit" value="Update Results" />
            <a href="{{ clear_search_path }}">Reset Filter</a>
        </p>
    </form>
</div>

<div style="float:right;">
    <h2>Summary of Cases</h2>
    <table id="case_summary_table">
        <tr>
            <th>Condition</th>
            <th>Count</th>
        </tr>
        {% for item in condition_counts %}
        <tr>
            <td>{{ item.condition }}</td>
            <td>{{ item.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<div style="clear:both;" />

<h2>Cases by Patient</h2>

<table id="case_patient_table">
    <tr>
        <th>&nbsp;</th>
        {% for column in table.columns %}
            {% if column.sortable %}
                <th><a href="{{ full_path }}&sort={{ column.name_toggled }}">{{ column }}</a></th>
            {% else %}
                <th>{{ column }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% for row in page.object_list %}
        <tr>
        <td><a href="{% url nodis_case_detail row.id %}">view</a></td>
        {% for value in row %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    <p>
    {{ page.paginator.count }} cases matching query.
    </p>
    <p>
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a> |
        {% endif %}


        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            | <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
    </p>
</div>



{% endblock%}
