{% extends 'base.html' %}


{% block content %}
<p>Date:  {{ date }}
<br>Site:  {{ localsite }}


<hr>
<h2>
    Nodis
</h2>

<p>New Cases Today: 
<blockquote>
    <pre>
{{ new_cases }}
    </pre>
</blockquote>

<p>Case Summary: 
<pre>
{{ case_summary }}
</pre>


<hr>
<h2>
    Data
</h2>

<p>Latest Successful Data Load:             {{ latest_prov }}
<p>Last Ten Data Loads:
    <blockquote>
    <table cellpadding=5 rules="all">
        <tr>
            <th>Timestamp</th>
            <th>Source</th>
            <th>Hostname</th>
            <th>Status</th>
        </tr>
        {% for prov in last_ten_prov %}
        <tr>
            <td>{{ prov.timestamp }}</td>
            <td>{{ prov.source }}</td>
            <td>{{ prov.hostname }}</td>
            <td>{{ prov.status }}</td>
        </tr>
        {% endfor %}
    </table>
    </blockquote>
</p>

{% endblock %}
