{% extends "vaers.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ site_css_folder }}vaers.css" />
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ site_javascript_folder }}vaers.js">

</script>
{% endblock%}

{% block content %}

<h2>Adverse Event to Vaccination Report</h2>

<p>Please confirm if <span class="patient_name">
{{ case.patient.full_name }}</span>'s case should be reported as an adverse event.<br />
ESP VAERS has
identified this case and the recommended action is
to <span class="msg_case_category">{{ case.get_category_display}}.</span></p>
  
<p>Please provide any additional clinical details
on this event that you think might be helpful to CDC and FDA vaccine
safety investigators:</p>

<table id="tbl_case_details">
  <tr>
  <th>Reason for being considered an adverse event</th>
    <td>{{ case.matching_rule_explain }}</td>
  </tr>
  
  <tr><th>Relevant Immunizations</th>
    <td>
      <dl>
	{% for imm in case.immunizations.all %}
	<dd>{{ imm.vaccine_type }} on {{ imm.date|date:"M d, Y"}}</dd>
	{% endfor %}
      </dl>
    </td>
  </tr>
  {% if case.encounter %}
  <tr>
    <th>Date of encounter that indicated Adverse Event</th>
    <td>{{ case.encounter.date|date:"M d, Y"}}</td>
  </tr>
  <tr>
    <th>Icd9 Codes</th>
    <td>
      <ul>
	{% for icd9 in case.encounter.icd9_codes.all %}
	<li>{{ icd9.code }} ({{ icd9.name }})</li>
	{% endfor %}
      </ul>
    </td>
  </tr>
  {% endif %}
  <tr>
    <th>Detected on</th>
    <td>{{ case.created_on|date:"M d, Y"}}</td>
  </tr>
    {% if case.lab_result %}
  <tr>
    <th>Lab Result that indicated Adverse Event</th>
    <td>
      <ul class="lx_summary">
	<li>Lab Test: {{ case.lab_result.native_name }}</li>
	<li>Order: #{{ case.lab_result.order_num|default:"N/A" }}</li>
	<li>Results Obtained on {{ case.lab_result.result_date|date:"M d, Y"}}</li>
	<li>Results: {{ case.lab_result.result_float|default:"N/A"}}</li>
      </ul>
    </td>
  </tr>
  {% endif %}
</table>

<div id="case_comments_list">
  <h3>Notes and Comments</h3>
  {% for comment in comments %}
  <div class="comment_entry">
     <div class="comment_time" >
      {{ comment.created_on|date:"M d, Y" }}<br />
      {{ comment.created_on|date:"H:i" }}
    </div>
    <div class="comment">{{ comment.text }}</div>
    <div style="clear:both"></div>
  </div>
  {% endfor %}
</div>

<form id="frm_case_confirmation" method="POST" action="{% url present_case case.id %}">
  {{ form.as_ul }}
  <div>
    Please add any commentary or information that you would like to attach to the case report here. Comments for confirmed cases will be added to the final report, while comments on false positives will be used as feedback for our detection system.
  </div>
  <input type="submit" value="submit" />
  {% csrf_token %}
</form>
{% endblock %}
