{% extends 'base.html' %}

{% block content %}



<h2>Welcome to the <a href="http://esphealth.org/ESPnet/images/ESP.html">ESP</a> web interface</h2><p>
<p>
The Electronic medical record Support for Public health (ESP) project is an automated software application, that analyzes electronic medical record (EMR) data, to identify and report conditions of interest to public health and other agencies.
<p>
<p>ESP is part of a larger project that includes <a href="http://esphealth.org/ESPnet/images/PopMedNet.html">PopMedNet</a>
<p>
<p>More information is available at <a href="http://esphealth.org">esphealth.org</a>
</p>

{% endblock%}


