[Database]
# The database driver that is going to be used.  We mostly use
# postgresql as the DB server, and postgresql_psycopg2 is the most
# current driver for it.

# Current options are 'postgresql_psycopg2', 'postgresql', 'mysql',
# 'sqlite3' or 'ado_mssql'.
engine=postgresql_psycopg2


# Name of the database, or path to database file if using sqlite3.
name=esp

# Authentication credentials. Not used with sqlite3.
# 'user' refers to the name of the db server user. 
user=
password=

# Only set this if your server is not localhost, and the port is
# different from the default. Otherwise, leave as is.
host=
port=

[Email]
# Name of your email server. Eg, mail.example.org
host=

# Authentication credentials.
user=
password=

# Connection port. Again, only set this is different from default.
port=

# Possible values: true/false. Default is false. If you SMTP server
# requires TLS authentication, set this to true. Usually it is false,
# so you can leave it as is.
use_tls=

# Email address to be used by messages sent from the application.
# E.g, no-reply@esphealth.org
server_email=
default_email=
# Prefix for message subject. Default is [ESP].
subject_prefix=

[FTP]
server=
user=
password=

[Upload]
server=
user=
path=
password=

[Application]
# Make this unique, and don't share it with anybody.
secret_key=
