[Database]
# 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
engine=

#Or path to database file if using sqlite3.
name=esp

# Not used with sqlite3.
user=
password=
host=
port=

[Email]
host=
user=
password=
port=
use_tls=
server_email=
default_email=
subject_prefix=

[FTP]
server=
user=
password=

[Upload]
server=
user=
path=
password=

[Application]
# Make this unique, and don't share it with anybody.
secret_key=
