{% extends "espss_base.html" %}

{% block content %}
<center>
<font size="+3" color="maroon">ESP:SS Project</font><br>
Welcome to the ESP:SS map generator where maps of daily syndromic surveillance case counts can be viewed for ESP data
</font></center><br>
<font size="+2" color="maroon"><a href="/espss/ssmap">Maps are here</a></font><br>
ESP:SS is a component of the ESP project, <a href="http://esphealth.org"> described in more detail here.</a> 
<br>
This page is the home of syndrome mapping developments for the ESP:SS project - you can <a 
href="http://esphealth.org/trac/ESP/wiki/ESPSS"> read more about 
it here</a><br><br>

{% endblock %}



