{% extends 'base.html' %}

{% block content %}

<div style='float:right'>
<p>
    <a href='{% url validate_missing %}'>Back to Missing Cases List</a>
</p>
</div>

<div style='clear:right'></div>


<p>
Result ID # {{ result.pk }}
</p>

<hr>

<h2>
Reference Case
</h2>

<p>
Reference Case ID # {{ result.ref_case.pk }}
</p>

<p>
    <form id='ref_case_form' method='POST' action='{% url missing_case_detail result.pk %}'>
    {{ form.as_p }}
    <input type='submit' value='Update Reference Case # {{ result.ref_case.pk }}'>
    </form>
</p>

<hr>

{% if result.cases.count %}
<h2>Other Cases: </h2>
<table>
    <tr>
        <th>Case ID
        <th>Date
        <th>Condition
    {% for c in result.cases.all %}
    <tr>
        <td>{{ c.pk }}
        <td>{{ c.date }}
        <td>{{ c.condition }} 
    {% endfor %}
</table>
{% endif %}

{% if result.events.count %}
<h2>Events: </h2>
<table>
    <tr>
        <th>Event ID
        <th>Date
        <th>Heuristic
    {% for event in result.events.all %}
    <tr>
        <td>{{ event.pk }}
        <td>{{ event.date }}
        <td>{{ event.name }} 
    {% endfor %}
</table>
{% endif %}

{% if result.lab_results.count %}
<h2>Labs: </h2>
<table>
    <tr>
        <th>Lab ID
        <th>Date
        <th>Native Code
        <th>Native Name
        <th>Result
        <th>Reference Range
        <th>Bound Events
    {% for lab in result.lab_results.all %}
    <tr>
        <td>{{ lab.pk }}
        <td>{{ lab.date }}
        <td>{{ lab.native_code }}
        <td>{{ lab.native_name }}
        <td>{{ lab.result_string }}
        <td>{{ lab.ref_range|default:"-" }}
        <td>{{ lab.events.all|join:"<br>" }}
    {% endfor %}
</table>
{% endif %}

{% if not result.events and not result.lab_results %}
    <p><strong>NO EVENTS OR LAB RESULTS </strong>
{% endif %}



{% endblock %} {# content #}
