{% extends 'base.html' %}

{% block extrastyle %}
    <style type="text/css">
    table {
        border-width: thin;
        border-spacing: 0;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
    }
    table th {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    table td {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    </style>
{% endblock %}

{% block content %}

<p>
    Searching lab native names for these strings:
    <ul>
        {% for s in search_strings %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>
</p>

<p>
<table>
    <tr>
        <th>Native Name</th>
        <th>Native Code</th>
        <th>Lab Record Count</th>
        {% if user.is_staff %}
        <th></th>
        <th></th>
        {% endif %}
    </tr>
    {% for item in unmapped %}
    <tr>
        <td>{{ item.native_name }}</td>
        <td>{{ item.native_code }}</td>
        <td>{{ item.count }}</td>
        {% if user.is_staff %}
        <td><a href="{% url ignore_code item.native_code %}">ignore</a></td>
        <td><a href="{% url map_native_code item.native_code %}">map</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</p>


{% endblock %}
