{% extends 'base.html' %}

{% block content %}

<span style="float:right;">
    <p>
        <a href="{% url validator_summary %}">Back to Validator Summary</a>
    </p>
</span>

<p>
    <form id='condition_form' method='POST' action='{% url validate_missing %}'>
        {{ condition_form }}
        <input type='submit' value='Filter by Condition'>
    </form>
</p>

<table id='missing_cases'>
    <tr>
        <th>&nbsp;
        <th>Reference Case ID #
        <th>Date
        <th>Condition
        <th>Patient MRN
        <th>Patient Name
        <th>Related Cases
        <th>Relevant Events
        <th>Relevant Lab Results
        <th>Relevant Encounters
        <th>Relevant Prescriptions
    {% for result in missing %}
    <tr>
        <td><a href="{% url missing_case_detail result.pk %}">Edit</a>
        <td>{{ result.ref_case.pk }}
        <td>{{ result.date }}
        <td>{{ result.condition }}
        <td>{{ result.patient.mrn }}
        <td>{{ result.patient.name }}
        <td>{{ result.results.count }}
        <td>{{ result.events.count }}
        <td>{{ result.lab_results.count }}
        <td>{{ result.encounters.count }}
        <td>{{ result.prescriptions.count }}
    {% endfor %} {# result in missing_results #}
</table>



{% endblock %} {# content #}
