{% extends 'base.html' %}

{% block content %}

<p align="center">
<i>
    Validator Run #{{ run.pk }}
    <br>{{ run.timestamp|date:"r" }}
    <br>Completed: {{ run.complete }}
</i>
</p>

<h2 align="center">
    Summary
</h2>

<table>
    <tr>
        <th>Status
        <th>Count
        <th>Percentage
    <tr>
        <td><a href="{% url validate_missing %}">Missing</a>
        <td>{{ run.missing }}
        <td>{{ run.percent_missing|floatformat:3 }}%
    <tr>
        <td>New
        <td>{{ run.new }}
        <td>{{ run.percent_missing|floatformat:3 }}%
    <tr>
        <td>Similar
        <td>{{ run.similar }}
        <td>{{ run.percent_similar|floatformat:3 }}%
    <tr>
        <td>Exact
        <td>{{ run.exact }}
        <td>{{ run.percent_exact|floatformat:3 }}%
    <tr>
        <td><em>TOTAL</em>
        <td>{{ run.results.count }}
        <td>&nbsp;
</table>

{% endblock %}
