Django==1.4.15
South==0.7.3
configobj==4.7.2
coverage==3.5.1
decorator==3.3.2
django-nose==0.1.3
django-tables==0.2
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-asthma@4494#egg=esphealth_disease_asthma-dev_r4494
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-chlamydia@4415#egg=esphealth_disease_chlamydia-dev_r4415
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-diabetes@4547#egg=esphealth_disease_diabetes-dev_r4547
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-giardiasis@4415#egg=esphealth_disease_giardiasis-dev_r4415
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-gonorrhea@4415#egg=esphealth_disease_gonorrhea-dev_r4415
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-hepatitis-combined@4597#egg=esphealth_disease_hepatitis_combined-dev_r4597
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-ili@4415#egg=esphealth_disease_ili-dev_r4415
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-lyme@4492#egg=esphealth_disease_lyme-dev_r4492
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-pelvic-inflammatory-disease@4492#egg=esphealth_disease_pelvic_inflammatory_disease-dev_r4492
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-pertussis@4492#egg=esphealth_disease_pertussis-dev_r4492
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-syphilis@4590#egg=esphealth_disease_syphilis-dev_r4590
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-tuberculosis@4492#egg=esphealth_disease_tuberculosis-dev_r4492
-e svn+http://esphealth.org/svn/ESP/trunk/modules/elr-positive-test@4564#egg=esphealth_elr_positive_test-dev_r4564
-e svn+http://esphealth.org/svn/ESP/trunk/modules/esphealth-encountertypemap-metrohealth@3973#egg=esphealth_encountertypemap_metrohealth-dev_r3973
-e svn+http://esphealth.org/svn/ESP/trunk/modules/heuristic-glucose-crf@2915#egg=esphealth_heuristic_glucose_crf-dev_r2915
-e svn+http://esphealth.org/svn/ESP/trunk/modules/heuristic-pregnancy@4348#egg=esphealth_heuristic_pregnancy-dev_r4348
futures==2.1.2
hl7==0.2.3
ipython==0.12
nose==1.1.2
paramiko==1.7.7.2
psycopg2==2.4.1
pycrypto==2.6
pyparsing==1.5.6
python-dateutil==2.0
simplejson==2.3.2
sqlparse==0.1.3
wsgiref==0.1.2
