Django==1.4.15
South==0.7.3
configobj==4.7.2
coverage==3.5.1
decorator==3.3.2
django-nose==0.1.3
django-tables==0.2
futures==2.1.2
hl7==0.2.3
ipython==0.12
nose==1.1.2
paramiko==1.7.7.2
psycopg2==2.4.1
pycrypto==2.6
pyparsing==1.5.6
python-dateutil==2.2
simplejson==2.3.2
sqlparse==0.1.3
wsgiref==0.1.2
