{% extends "base.html" %}

{% block extrascript %}
    
{% endblock %}

{% block extrastyle %}

<style type="text/css" media="all"> 
    form ol {
        list-style: none;
    }
    
    div.container{
		margin-top: 10px;
		font-family: 'Georgia', serif;
		line-height: 1.0;
		font-size: 130%;
		margin: 0 auto;
    	}

		ul.racetabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.racetabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 8px 8px;
			cursor: pointer;
		}

		ul.racetabs li.active{
			background: #ededed;
			color: #222;
		}

		ul.racetabs li a {
			background: none;
			font-family: Georgia, serif;
			line-height: 1.6;
			color: #222;
			font-size: 110%;
		}
		    
</style>

{% endblock %}

{% block content %}

<h2>Results</h2>

<form method="LINK" action="{% url results_xlsx %}">
<input type="submit" value="Download complete set as MS Excel">
</form>
<p>
<div class="container">

    {% include "qmetric/tabination.html" %}

{% for key, recordset in dataobjdict.items %}
    <h2>{{ key }}</h2>
    <table id="{{ key }}">
    <tr>
    {% for column in cols %}
        <th>{{ column }}</th>
    {% endfor %}
    </tr>
    {% for row in recordset %}
        <tr>
        {% for value in row %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}

</div>


{% endblock%}
