{% extends "vaers.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ site_css_folder }}vaers.css" />
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ site_javascript_folder }}vaers.js">

</script>
{% endblock%}

{% block content %}
<table border="0"> 
<tr >
<td style="border:0">
<table id="tbl_case_details" 
  <tr>
  <th align = left >Patient name [MRN] </th>
    <td>{{ case.patient.full_name  }} [{{ case.patient.mrn  }}]</td>
  
    <th align = left>Gender</th>
    <td> {% ifequal  case.patient.gender 'F' %} 
          Female 
          {% else %}
          Male 
          {% endifequal %}
     </td>
  </tr>
  <tr>
    <th align = left>Date of birth [age]</th>
    <td>{{ case.patient.date_of_birth|date:"d-M-Y" }} 
    {% if  case.patient.age.years  > 2 %}
      [{{ case.patient.age.years }} years]
    {% else %}
     [{{ case.patient.age.months }} months]
    {% endif %}
    
    </td>
      
    <th align = left>Telephone number</th>
    <td>({{ case.patient.areacode }}) {{ case.patient.tel }}</td>
  </tr> 
</table>
</td>
<td style="border:0">
<table id="tbl_case_details" >

  <tr>
  <th align = left>Reviewing Clinician</th>
    <td>{{ questionaire.provider.full_name  }}</td>
  </tr> 
  <tr>
  <th align = left>Primary Care Provider</th>
    <td> {{ case.patient.pcp }}</td>
  </tr> 
  
</table>

</td>
</tr>
</table>
<BR>

<b>Your patient received the following vaccinations on {{ case.date|date:"M d, Y"}} 
   <br></b>
  {% for vacc in case.immunizations.all %}
	  {{ vacc.name }}  <BR>
  {% endfor %}
<br>
  <b>We noted the following potentially concerning events after vaccination: </b>
  <BR><BR>
 <table border="0"> 
<tr >
<td style="border:0">
<table border="0" id="tbl_case_details">
<tr>
  <th align = left>Event Date</th>
  <th align = left>Encounter Type</th>
  <th align = left>Labs</th>
  <th align = left>Diagnosis</th>
  <th align = left>Prescription</th>
  <th align = left>Allergies</th>
</tr>
<!-- add comments here 
-->

{% for event in case.adverse_events.all %}
 <tr>
  
  {% ifequal content_type_enc event.content_type %}
    
    <td>  {{ event.content_object.date|date:"d-M-Y"}} </td>
    
    <td> {% ifequal event.content_object.encounter_type 'visit' %}
            Ambulatory
          {% endifequal %}   
          {% ifequal event.content_object.encounter_type 'hospitalization' %}
            Hospitalized
          {% endifequal %} 
          {% ifequal event.content_object.encounter_type 'er' %}
            ED
          {% endifequal %}  
    <td></td>
    <td> {{ event.matching_rule_explain }}    </td>
    </td>
    <td></td>
    <td></td>
  {% endifequal %}
  
   {% ifequal content_type_lx event.content_type %}
   
  <td> {{event.content_object.collection_date|date:"d-M-Y"}}</td>
  <td></td>
  <td> {{ event.content_object.native_name }} {{ event.content_object.result_float|default:"N/A"}} {{ event.content_object.ref_unit}}
     {% if  event.last_known_value  %}
     <BR>(last value prior to vaccination was {{ event.last_known_value }} on {{ event.last_known_date|date:"d-M-Y" }}) 
     {% endif %}
     </td>
  <td></td>
  <td></td>
  <td></td>
  
  {% endifequal %}
  
   {% ifequal content_type_rx event.content_type %}
  <td>{{ event.content_object.date|date:"d-M-Y" }} </td>
  <td></td><td></td>
  <td></td>
  <td> {{ event.content_object.name }}  </td>
  <td></td>
  
  {% endifequal %}
  
   {% ifequal content_type_all event.content_type %}
   <td> {{ event.content_object.date_noted|date:"d-M-Y" }}</td>
   <td></td><td></td>
   <td></td>
   <td></td>
     <td> {{ event.content_object.name }}  </td>
  
  {% endifequal %}
    
   </tr>
  
  {% endfor %}

</table></td></tr></table>
<BR>
{% if  case.prior_immunizations.all %}
  <b>Note: the patient has also recently received the following vaccines:</b><BR>
  {% for vacc in case.prior_immunizations.all %}
	 {{ vacc.date|date:"M d, Y"}} {{ vacc.name }} <BR>
  {% endfor %}
  
  {% endif %}
  <BR>
<form id="frm_case_confirmation" method="POST" action="{% url present_case questionaire.id  %}">
 <B>
   {{ form.as_ul }}
 </B>
  {% for f in form %}
   
    {% ifequal f.name 'state' %}
       <div class="mystate">
        {{ f }}
        </div>
        
    {%endifequal%}
    
    {% ifequal f.name 'comment' %}
       <div class="mytextarea">
        {{ f }}
        </div>
        
    {%endifequal%}
    {% ifequal f.name 'message_ishelpful' %}
       <div class="mymsghelpful">
        {{ f }}
        </div>
        
    {%endifequal%}
    
  {% endfor %}
 
  <input type="submit" value="submit" />
  {% csrf_token %}
</form>
{% endblock %}
