{% extends "vaers.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ site_css_folder }}vaers.css" />
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ site_javascript_folder }}vaers.js">

</script>
{% endblock%}

{% block content %}
<table border="0"> 
<tr>
<td style="border:0">
<table id="tbl_patient_details" 
  <tr>
  <th>Patient name</th>
    <td>{{ case.patient.full_name  }}</td>
  
    <th>Gender</th>
    <td>{{ case.patient.gender }}</td>
  </tr>
  <tr>
    <th>Date of birth</th>
    <td>{{ case.patient.date_of_birth|date:"d-M-Y" }}</td>
  
    <th>Race</th>
    <td>{{ case.patient.race }}</td>
  </tr> 
  <tr>
    <th>Home address</th>
    <td>{{ case.patient.address1 }} {{ case.patient.city }} {{ case.patient.state }} {{ case.patient.zip5 }} {{ case.patient.country }}</td>
  
    <th>Telephone number</th>
    <td>({{ case.patient.areacode }}) {{ case.patient.tel }}</td>
  </tr> 
</table>
</td>
<td style="border:0">
<table id="tbl_provider_details" >

  <tr>
  <th>Clinician name</th>
    <td>{{ questionaire.provider.full_name  }}</td>
  </tr> 
  <tr>
  <th>Practice address</th>
    <td>{{ questionaire.provider.dept_address_1 }} {{ questionaire.provider.dept_city }} {{ questionaire.provider.dept_state }} {{ questionaire.provider.dept_zip }}</td>
  </tr> 
  <tr>
  <th>Practice phone number</th>
    <td>({{ questionaire.provider.areacode  }}) {{ questionaire.provider.telephone }} </td>
  </tr> 

</table>

</td>
</tr>
</table>
<BR>
<b>Immunizations on {{ case.date|date:"M d, Y"}}: <br></b>
  {% for vacc in case.immunizations.all %}
	  {{ vacc.name }} - type {{ vacc.vaccine_type }} - lot {{ vacc.lot}}, 
  {% endfor %}
<br>

{% if  case.prior_immunizations.all %}
  <b>Prior immunizations: <BR></b>
  {% for vacc in case.prior_immunizations.all %}
	 {{ vacc.date|date:"M d, Y"}} -  {{ vacc.name }} - type {{ vacc.vaccine_type }} - lot {{ vacc.lot}}, 
  {% endfor %}
  
  {% endif %}
   
  <b>Case was modified on {{ case.last_update|date:"M d, Y"}} <BR>
  </b>
  
<table border="0">
<tr>
  <td>Event Date</td><td>Labs</td><td>Diagnosis</td><td>Prescription</td><td>Allergies</td>
</tr>
<!-- TODO do a loop to generate how many labs types and figure out the date ranges. 
TODO create a lab types object to find the column # for the value
TODO array of dates if dates match as i loop them again put them on teh same row in table
-->

{% for event in case.adverse_events.all %}
 <tr>
  
  {% ifequal content_type_enc event.content_type %}
    
    <td>  {{ event.content_object.date|date:"d-M-Y"}} </td>
    <td></td>
    <td>{{ event.matching_rule_explain }}    
    </td>
    <td></td>
    <td></td>
  {% endifequal %}
  
   {% ifequal content_type_lx event.content_type %}
   
  <td> {{event.content_object.result_date|date:"d-M-Y"}}</td>
  
  <td> {{ event.content_object.native_name }} - {{ event.content_object.result_float|default:"N/A"}}
     {% if  event.last_known_value  %}
     <BR> LKV {{ event.last_known_value }} on {{ event.last_known_date|date:"d-M-Y" }}  
     {% endif %}
     </td>
  <td></td>
  <td></td>
  <td></td>
  
  {% endifequal %}
  
   {% ifequal content_type_rx event.content_type %}
  <td>{{ event.content_object.date|date:"d-M-Y" }} </td>
  <td></td>
  <td></td>
  <td> {{ event.content_object.name }}  </td>
  <td></td>
  
  {% endifequal %}
  
   {% ifequal content_type_all event.content_type %}
   <td> {{ event.content_object.date_noted|date:"d-M-Y" }}</td>
   <td></td>
   <td></td>
   <td></td>
     <td> {{ event.content_object.name }}  </td>
  
  {% endifequal %}
    
   </tr>
  
  {% endfor %}


</table>
  
<form id="frm_case_confirmation" method="POST" action="{% url present_case questionaire.id  %}">
 <B>
   {{ form.as_ul }}
 </B>
  <input type="submit" value="submit" />
  {% csrf_token %}
</form>
{% endblock %}
