{% extends "vaers.html" %}


{% block content %}
<table>
  <thead>
    <th>Id</th>
    <th>Immunization Date</th>
    <th>Date Of Event</th>
    <th>Days After Immunization</th>
    <th>Immunization Name</th>
    <th>Description of Event</th>
    <th>Patient age</th>
    <th>Patient Gender</th>
  </thead>
  <tbody>
    {% for case in cases %}
    {% for result in case.temporal_report %}
    <tr>
      <td>{{ result.id }}</td>
      <td>{{ result.vaccine_date }}</td>
      <td>{{ result.event_date }}</td>
      <td>{{ result.days_to_event }}</td>
      <td>{{ result.immunization_name }}</td>
      <td>{{ result.event_description }}</td>
      <td>{{ result.patient_age }}</td>
      <td>{{ result.patient_gender }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}

