USESQLITE=0
RUNFAKEDATA=0
SITEROOT='/ESP'
LOCALSITE='Prototype'

MYSQL_DB_USER = 'espuser'
MYSQL_DB_PASSWORD = 'password'


FTPUSER = 'ftpuser'
FTPPWD = 'ftppassword'
FTPSERVER = 'ftp.yoursite.com'


EMAILSENDER='espuser@yoursite.com'
