{% extends 'base.html' %}


{% block content %}
<p>Date:  {{ today_string }}
<br>Site:  {{ site_name }}


<h2>
    <hr>
    {{ subtitle }}
    <hr>
</h2>

<div id="new_case_summary" style="float: left;">
    <h3>
         {{ table1title }}
    </h3>
    
    <table id="new_case_summary_table1">
    
    <tr>
     {% for item in tableheader1 %}
           <th> {{ item.name }}   
            
         {% endfor %}
        {% for row in tablecontent1 %}
         <tr> 
         
        {% for col in row %}
            <td>{{ col }}
            
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</div>

<div id="new_case_summary" style="float: left;">
    <h3>
         {{ table2title }}
    </h3>
    
    <table id="new_case_summary_table">
    
    <tr>
     {% for item in tableheader2 %}
           <th> {{ item.name }}   
            
         {% endfor %}
        {% for row in tablecontent2 %}
         <tr> 
         
        {% for col in row %}
            <td>{{ col }}
            
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</div>

<div id="new_case_summary" style="float: left;">
    <h3>
         {{ table3title }}
    </h3>
    
    <table id="new_case_summary_table3">
    
    <tr>
     {% for item in tableheader3 %}
           <th> {{ item.name }}   
            
         {% endfor %}
        {% for row in tablecontent3 %}
         <tr> 
         
        {% for col in row %}
            <td>{{ col }}
            
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</div>


<div id="new_case_summary" style="float: left;">
    <h3>
         {{ table4title }}
    </h3>
    
    <table id="new_case_summary_table4">
    
    <tr>
     {% for item in tableheader4 %}
           <th> {{ item.name }}   
            
         {% endfor %}
        {% for row in tablecontent4 %}
         <tr> 
         
        {% for col in row %}
            <td>{{ col }}
            
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</div>

<div id="new_case_summary" style="float: left;">
    <h3>
         {{ table5title }}
    </h3>
    
    <table id="new_case_summary_table5">
    
    <tr>
     {% for item in tableheader5 %}
           <th> {{ item.name }}   
            
         {% endfor %}
        {% for row in tablecontent5 %}
         <tr> 
         
        {% for col in row %}
            <td>{{ col }}
            
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</div>

<p style="clear: left;">&nbsp;</p>


<div style="clear: both;" />


{% comment %}

{% endcomment %}

{% endblock %}
