Django==1.3.1
South==0.7.3
configobj==4.7.2
coverage==3.5.1
decorator==3.3.2
django-nose==0.1.3
django-tables==0.2
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-chlamydia@2973#egg=esphealth_disease_chlamydia-dev_r2973
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-diabetes@3221#egg=esphealth_disease_diabetes-dev_r3221
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-giardiasis@3313#egg=esphealth_disease_giardiasis-dev_r3313
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-gonorrhea@2898#egg=esphealth_disease_gonorrhea-dev_r2898
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-hepatitis-combined@3295#egg=esphealth_disease_hepatitis_combined-dev_r3295
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-lyme@3329#egg=esphealth_disease_lyme-dev_r3329
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-pelvic-inflammatory-disease@3355#egg=esphealth_disease_pelvic_inflammatory_disease-dev_r3355
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-pertussis@3325#egg=esphealth_disease_pertussis-dev_r3325
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-syphilis@3229#egg=esphealth_disease_syphilis-dev_r3229
-e svn+http://esphealth.org/svn/ESP/trunk/modules/disease-tuberculosis@3331#egg=esphealth_disease_tuberculosis-dev_r3331
-e svn+http://esphealth.org/svn/ESP/trunk/modules/heuristic-glucose-crf@2915#egg=esphealth_heuristic_glucose_crf-dev_r2915
-e svn+http://esphealth.org/svn/ESP/trunk/modules/heuristic-pregnancy@3226#egg=esphealth_heuristic_pregnancy-dev_r3226
-e svn+http://esphealth.org/svn/ESP/trunk/modules/esphealth-encountertypemap-metrohealth@3513#egg=esphealth_encountertypemap_metrohealth-dev_r3513
futures==2.1.2
hl7==0.2.3
ipython==0.12
nose==1.1.2
psycopg2==2.4.1
pyparsing==1.5.6
python-dateutil==2.0
simplejson==2.3.2
sqlparse==0.1.3
wsgiref==0.1.2
